<nav>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/about">About</a></li>
        </ul>

</nav>




<!--  Style Code  -->








<style>
    body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>