<!DOCTYPE html>
<html>
<head>
   
    <title>About Title</title>

    <style type="text/css">
    	body {
    		background-image: url(image.jpg);
    	}
    </style>
    
</head>
<body>

    <h1 style="background-color: yellow">Name : <%= name %> </h1>
    <h2> Id: <%= id %></h2>

	<pre> 
		
		
	</pre>

    

</body>
</html>