<html>
<head>
	<title> Todo List</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous">
    </script>
     <script src="/assets/todo-list.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>


<body>
    <div id="todo-table"> 
        <h1> ToDo List</h1>
        <form>
            <input type="text" name="item" placeholder="Add new item .." required />
            <button type="submit" > Add Item </button>
        </form>

        <ul>
            <% data.forEach( function (item){ %>
                   <li><%= item.item %></li>
            <% } ); %>
        
        </ul>


        
    </div>

</body>
</html>