<!DOCTYPE html>
<html>
<head>
	<title> HBS </title>
</head>
<body>

	<h1>{{ page_name }}  Page</h1>
	<p> This is a page</p>

	<footer>
		<p>Copy Right From {{date}}</p>
	</footer>

</body>
</html>