<!DOCTYPE html>
<html>
<head>
   
    <title>About Page </title>

    <style type="text/css">
    	body {
    		background-image: url(assets/images/image.jpg);
    	}
    </style>
    
</head>
<body>
  
                <% include partials/menuber1.ejs %>
    
	<h1 style="background-color: white; text-align: center">What about U</h1>


        <pre > 
                Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about content. 

                It's that compelling content that's crucial to making inbound marketing work for your business.
                
                So how do you balance your remarkable content creation with your web design needs? It all starts with the "About Us" page.
                
                For a remarkable about page, all you need to do is figure out your company's unique identity, and then share it with the world.
                Easy, right? Of course not. Your "About Us" page is one of the most important pages on your website, and it needs to be well 
                crafted. This profile also happens to be one of the most commonly overlooked pages, which is why you should make it stand out.
        </pre>


	

    

</body>
</html>