<!DOCTYPE html>
<html>
<head>
   
    <title>Contact Page </title>

    <style type="text/css">
    	body {
    		background-image: url(assets/images/contact.jpg);
            background-size: cover;
    	}
    </style>
    
</head>
<body>

        <% include partials/menuber1.ejs %>
    
	<h1 style="background-color: white; text-align: center">Contact Us</h1>


        <pre> 
            Hello <%= qs.who %>,
            
            Your Request Is successFully Submitted
    
            Thanks


        </pre>


</body>
</html>