<!DOCTYPE html>
<html>
<head>
   
    <title>Error</title>

    <style type="text/css">
    	body {
    		background-image: url(assets/images/404error.jpg);
    	}
    </style>
    
</head>
<body>

    
    

</body>
</html>