<!DOCTYPE html>
<html>
<head>
   
    <title>Home Page </title>

    <style type="text/css">
    	body {
    		background-image: url(assets/images/image.jpg);
    	}
    </style>
    
</head>
<body>
 
    <% include partials/menuber1.ejs %>
    
	<h1 style="background-color: white; text-align: center"> Hello Home </h1>


        <pre> 
            Hello Dud,
            
            Welcome to practis Sessation.
    
            Thanks
        </pre>


	

    

</body>
</html>